swipeable-tabs {

	&.slides-height-auto {
		ion-slides.slides {
			height: auto !important;

			.swiper-slide {
				align-items: flex-start;
			}
		}
	}

	.swipeable-tabs-header {
		position: relative;

		.col {
			button {
				font-weight: normal;
				padding: 0;
				height: 4.2rem;
				line-height: 1.2;

				.button-inner {
					height: calc(100% - 4px);
					margin-top: 4px;
				}
			}

			&.active {
				button {
					color: color($colors, primary);
				}
			}
		}

		.active-tab-indicator {
			background-color: color($colors, primary);
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 0;
			transition-property: left;
			transition-duration: 350ms;
			transition-timing-function: cubic-bezier(.36, .66, .04, 1);
			width: 0px;

			&.no-transition {
				transition-duration: 0s;
				display: none;
			}
		}
	}

}
